@model EntityLayer.Concrete.Heading
@{
    ViewData["Title"] = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h1>Yeni Başlık Ekleme</h1>
@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        

        <button id="kaydet" class="btn btn-info">Başlığı Oluştur</button>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("kaydet").addEventListener("click", function (event) {
        event.preventDefault(); // Bu satır, formun otomatik olarak submit edilmesini engeller

        Swal.fire({
            title: 'Tebrikler!',
            text: 'Başlık Başarıyla Oluşturuldu.',
            icon: 'success',
            confirmButtonText: 'İlerle'
        }).then((result) => {
            if (result.isConfirmed) {
                // Formu submit edin
                document.forms[0].submit();
            }
        });
    });
</script>
