@model EntityLayer.Concrete.Writer

@{
    ViewData["Title"] = "EditWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Yazar Düzenleme Sayfası</h1>
@using (Html.BeginForm("EditWriter", "Writer", FormMethod.Post))
{
    @Html.HiddenFor(x => x.WriterID)

    <br />
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterName, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(x => x.WriterSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterSurName)
    <br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterMail)
    <br />
    @Html.Label("Yazar Şifresi")
    @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterPassword)
    <br />
    @Html.Label("Yazar Görsel Linki")
    @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterImage)
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterAbout)
    <br />
    @Html.Label("Yazar Unvan")
    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterTitle)
    <br />
    <button id="kaydet" class="btn btn-info">Değişiklikleri Uygula</button>
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("kaydet").addEventListener("click", function (event) {
        event.preventDefault(); // Bu satır, formun otomatik olarak submit edilmesini engeller

        Swal.fire({
            title: 'Tebrikler!',
            text: 'Yazar Bilgileri Başarıyla Güncellendi.',
            icon: 'success',
            confirmButtonText: 'İlerle'
        }).then((result) => {
            if (result.isConfirmed) {
                // Formu submit edin
                document.forms[0].submit();
            }
        });
    });
</script>