@model EntityLayer.Concrete.Admin
@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Yeni Admin Tanımlama Ekranı</h1>
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Şifreyi Giriniz")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Rolü Giriniz")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br /><br />
        <button id="kaydet"class="btn btn-primary">Kaydet</button>
    </div>
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById("kaydet").addEventListener("click", function (event) {
        event.preventDefault(); // Bu satır, formun otomatik olarak submit edilmesini engeller

        Swal.fire({
            title: 'Tebrikler!',
            text: 'Admin Başarıyla Tanımlandı.',
            icon: 'success',
            confirmButtonText: 'İlerle'
        }).then((result) => {
            if (result.isConfirmed) {
                // Formu submit edin
                document.forms[0].submit();
            }
        });
    });
</script>